body {
  margin: 20px;
  background: rgb(159,159,159);
  background: linear-gradient(90deg, rgba(159,159,159,0.8856136204481793) 25%, rgba(220,36,88,1) 72%, rgba(245,162,32,1) 95%);
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

button {
  height: 40px;
}

.error,
.status {
  padding: 1em;
}

.error {
  background-color: #fee;
  border: 1px solid #f99;
}

.status {
  background-color: #eee;
  border: 1px solid #999;
}
